$color--success: #006400;
$color--failure: #8B0000;
$background-color-expression: #EEE;

.indicator-expression-manager {
  display: flex;

  .data-table-pager--buttons {
    margin: 0;
  }
}

.indicator-expression-manager__left {
  flex: 1;
}

.indicator-expression-manager__right {
  flex: 1;
}

.indicator-expression-manager__description {
  padding-bottom: 1rem;
}

.indicator-expression-manager__readable-expression {
  width: 100%;

  div {
    margin-top: 1rem;
  }

  div:first-child {
    background-color: $background-color-expression;
    padding: 1rem;
  }
}

.indicator-expression-manager__readable-expression__message--valid {
  color: $color--success;
}

.indicator-expression-manager__readable-expression__message--invalid {
  color: $color--failure;
}
