$color--success: #006400;
$color--failure: #8B0000;
$background-color-expression: #EEE;


@import 'susy';

.indicator-expression-manager {
  @include container();
}

.indicator-expression-manager__left {
  @include span(6 of 12);
}

.indicator-expression-manager__right {
  @include span(6 of 12 last);
}

.indicator-expression-manager__description {
  padding-bottom: 1rem;
}

.indicator-expression-manager__readable-expression {
  @include span(12 of 12 last);

  div {
    margin-top: 1rem;
  }

  div:first-child {
    background-color: $background-color-expression;
    padding: 1rem;
  }
}

.indicator-expression-manager__readable-expression__message--valid {
  color: $color--success;
}

.indicator-expression-manager__readable-expression__message--invalid {
  color: $color--failure;
}
