{
    "presets": [["env", { "modules": false }], "react", "stage-2"],
    "plugins": ["transform-runtime"],
    "env": {
        "commonjs": {
            "presets": [
                [
                    "env",
                    {
                        "modules": "commonjs"
                    }
                ],
                "react",
                "stage-2"
            ],
            "plugins": ["transform-class-properties"]
        },
        "es": {
            "presets": [
                [
                    "env",
                    {
                        "modules": false
                    }
                ],
                "react",
                "stage-2"
            ]
        },
        "test": {
            "presets": ["env", "react", "stage-2"],
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        }
    },
}

