language: node_js
node_js:
- 8
before_script:
- npm install --global @dhis2/deploy-build
script:
- npm run test
- npm run build
deploy:
- provider: script
  script: deploy-build
  skip_cleanup: true
  on:
    all_branches: true
- provider: script
  script: publish-build
  skip_cleanup: true
  on:
    tags: true
env:
  global:
  - secure: QJhG04ir30MXNYpIOvcROOFOrghcxMRcZ4W7qa5cQki7h9yAkOErnNRYyf5Adgaueb3xFLUs11Fvq/Ugoc5LDp9FAd3mmMWYcwq0MA7azrHnySCybnpKDcM1PWv40ggfz7Sb9KelwJmC31nFckfVbov167jYP/xhAnZdlM7NUVNwdVmH25cYSV6TjRXXitFYN+lczBfncF8XglQxRyAco8L57osztTQlJfiFASLjceqFEOiUGiCQjOWbtRbYiSt5mfBC/MezKtDd2qrRep3dLB6go9qNqkqD5vNoK/RXyub1zv9MhZL3ni+c0WP2WMNRzAxgLJnVfaKDwcvjnt41yFjYTUe60zslJ3FH+FET6f1hVFHSSyYdI48VqkcFy0xNW5BASxoLz7OlyRyj5kyfDYuHr4dUaeIWOdS/4JaDLiS+xlVocgp/ujar0cGJOVgMrLMjWprkhAaHxAxPavxMbLnxvwZuMf+3MEfFNJvK6ywIqHjPzuaYvnsw0lL3bI5l97ivSegUyTrqsfgbdywzK7hUhp53L9PCah7ynfOynB+3onzm7yUh43Ur5Ypn729Yhq6BoDdqxKyZieuWUrFy2/xY8F0yLsrAnsw51WIooa1LuM4IjRfszSDZxSG8DrTb8XZIYmp4L2vISSmYrqe+3Ny8qIQBJbv3GXf0X+4dFX0=
  - secure: J1D7Gm4xWrYam531LRwfZYTONGANIph3vPQ8DxVeutBT+8Gpym0SOz1MC/5/wzFcqHfdp98RDnffH9DcV/ad7URP0onKDQi/894DlQTh3fOVZrVnMzJ+oI/sgkzuily9vGbmlptMw858CXVpWBeA0jyRL8X19ar+jrb7uAk4VEFvHEy6O1cHu8yyPJC0YecPXFF7WvXUVaCiQOO8odisLWMUtEZNxofc/1Vd8+0gwkoq02uws8T3VL5CQVUUAYMC9/2PWEGOH2Zf0DGBVQ+UDO/tgr+bSeitWdWys7+JdWiRbR14S/yoaIUOgFQgTWVEgwMgIfHdYNaQqKqljOEQoYEEz7mlHgnkVey7tMghY9A19AKPqvAVCRAeeDepChZPaYl9rJyOghJB6EE7mV1mDuCNNUFLvrovCcrt3ynI+lwMR1tvc/VG+Rs2bqTHDiCUPqhfRM6EC6pN0lJx0ondqagk0CWg7ACT4srGKCtEhmsGRAM6kzuhWEuH2BFs4ycJKuCEy2rN+g21FuGK3rZBf7SJS7srA0AWmdVl2oczfRTtnMzR4G6PLEx3etH1o7IP7ZQOXiDHVdZ9DatODDTwk+o9X6wu0woi7Rta17uCX4S2zJvvgH77tH9thw5F0n7fVC/TO38blbLRKpgDVDVFWrxyfq3w/YcmBop3ExC352M=
