.periods-container {
    min-width: 709px;
    margin-top: 18px;
}

button.nav-button {
    padding: 5px 13px 3px;
    border: 1px solid #ECEFF1;
    border-radius: 2px 0 0 2px;
    text-transform: none;
}

.nav-button.active, .nav-button.active:hover {
    background-color: #00796B;
    color: #fff;
}

.block {
    display: inline-block;
    vertical-align: middle;
}

.block.options {
    width: 50%;
    height: 460px;
    border: 1px solid #e8e8e8;
}

.block.selected-periods {
    width: 38%;
    height: 460px;
    vertical-align: top;
    border: 1px solid #e8e8e8;
}

.block.buttons {
    width: 10%;
    padding: 0 5px;
}

.block.buttons button {
    min-width: 0;
    box-shadow: 0 2px 5px #b1b1b1;
    padding: 7px 10px 5px;
    margin: 0 auto;
    display: block;
}

.block.buttons button:first-child {
    margin-bottom: 35px;
}

.options-area {
    padding: 5px 10px 0px 10px;
    border-bottom: 1px solid #e8e8e8;
}

.periods-list-selected {
    overflow: auto;
    list-style: none;
    height: calc(100% - 81px); /* sum of header and clear button with padding = 81px */
    padding: 0;
    margin: 0px;
}

.periods-list-offered {
    list-style: none;
    overflow: auto;
    height: calc(100% - 93px);
    margin: 0px;
    padding: 0;
}

.period-dimension-item {
    display: flex;
    margin: 2px;
}

.period-offered-label:hover {
    background-color: #e0e0e0;
}

.period-selected-label:hover {
    background-color: #86c4bf;
}

.period-selected-label, .period-offered-label {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 3px 5px 3px 3px;
    outline: none;
    cursor: pointer;
}

.period-selected-label {
    background-color: #b2dfdb;
    padding: 3px;
}

.subtitle-container {
    border-bottom: 1px solid #E0E0E0;
    height: 42px;
}

.selected-periods .subtitle {
    position: relative;
    color: black;
    height: 20px;
    font-size: 15px;
    font-weight: 500;
    top: 12px;
    left: 8px;
}

.selector-area {
    height: 460px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selector-area .periods-list {
    overflow: auto;
}

.unselected-icon {
    background-color: grey;
    min-height: 6px;
    min-width: 6px;
    margin: 0px 5px;
}

.selected-icon {
    background-color: #00796B;
    min-height: 6px;
    min-width: 6px;
    margin: 0px 5px;    
}

.highlighted-icon {
    background-color: white;
    min-height: 6px;
    min-width: 6px;
    margin: 0px 5px;
}

.list-text {
    padding: 2px;
    font-size: 14px;
 }

 .remove-item-button {
    border: none;
    outline: none;
    background: none;
    padding: 0px;
    height: 18px;
    width: 18px;
}

.selector-area .form-control.period-type { width: 65%; padding-right: 10px; }
.selector-area .form-control.year { width: 32%; }
.selector-area .period-li.selected h3 { color: white; }

#year-select {
    cursor: pointer;
    color: #000000;
}

#year-select-menu {
    width: 130px;
}
