.periods-container {
    min-width: 709px;
    margin-top: 18px;
}

button.nav-button {
    padding: 5px 13px 3px;
    border: 1px solid #ECEFF1;
    border-radius: 2px 0 0 2px;
    text-transform: none;
}

.nav-button.active, .nav-button.active:hover {
    background-color: #00796B;
    color: #fff;
}

.block {
    display: inline-block;
    vertical-align: middle;
}
.block.options {
    width: 50%;
    height: 460px;
    border: 1px solid #e8e8e8;
}

.block.selected-periods {
    width: 38%;
    height: 460px;
    vertical-align: top;
    border: 1px solid #e8e8e8;
}

.block.buttons {
    width: 10%;
    padding: 0 5px;
}

.block.buttons button {
    min-width: 0;
    box-shadow: 0 2px 5px #b1b1b1;
    padding: 7px 10px 5px;
    margin: 0 auto;
    display: block;
}

.block.buttons button:first-child {
    margin-bottom: 20px;
}

.options-area {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    border-bottom: 1px solid #e8e8e8;
}

.periods-list-selected {
    overflow: auto;
    list-style: none;
    height: calc(100% - 82px); /* sum of header and clear button with padding = 82px */
    padding: 0;
    margin: 0px;
}

.period-dimension-item {
    display: flex;
    margin: 2px;
}

.period-selected-label {
    display: flex;
    outline: none;
    border-radius: 4px;
    background-color: rgb(187, 222, 251);
    padding: 2px;
}

.periods-list-offered {
    list-style: none;
    overflow: auto;
    height: calc(100% - 94px);
    margin: 0px;
    padding: 0;
}

.period-offered-label {
    display: flex;
    border-radius: 4px;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
}

.subtitle-container {
    border-bottom: 1px solid #E0E0E0;
    height: 42px;
}

.selected-periods .subtitle {
    position: relative;
    color: black;
    height: 20px;
    font-size: 15px;
    font-weight: 500;
    top: 12px;
    left: 8px;
}

.selector-area {
    position: relative;
    height: 460px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selector-area .periods-list {
    overflow: auto;
}

.unselected-icon {
    background-color: grey;
    position: relative;
    top: 35%;
    height: 6px;
    width: 6px;
    margin-right: 5px;
    margin-left: 5px;
}

.selected-icon {
    background-color: #1976D2;
    position: relative;
    top: 35%;
    height: 6px;
    width: 6px;
    margin-right: 5px;
    margin-left: 5px;
}

.remove-item-button {
    border: none;
    background: none;
    padding: 0px;
    padding-top: 3px;
    padding-left: 1px;
    margin-left: 5px;
    margin-right: 3px;
    width: 10px;
    cursor: pointer;
}

.remove-item-button svg {
    fill: #004b9f;
}

.list-text {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
 }

.selector-area .form-control.period-type { width: 65%; padding-right: 10px; }
.selector-area .form-control.year { width: 32%; }
.selector-area .period-li { padding: 5px 5px 2px; }
.selector-area .period-li.selected { background: #42a0ff !important; }
.selected-periods .period-li { background: #BBDEFB !important; }
.selector-area .period-li.selected h3 { color: white; }
.selector-area .period-li .list-icon { font-size: 14px; margin-right: 3px; color: #9e9e9e; }

.period-selected-label, .period-offered-label {
    cursor: pointer;
    padding: 3px 8px 3px 3px;
}

.period-selected-label { padding: 3px }
