body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.chart {
  margin-left: 120px;
  margin-right: 120px;
}
.lineValue {
  width: 150px;
}
.lineTitle {
  margin-right: 50px;
}
.formControl {

}